.image-22-icon {
  height: 2.5rem;
  width: 11.688rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.tokematic {
  width: 0;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
}
.image-22-parent,
.tokematic-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tokematic-wrapper {
  width: 0;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  margin-left: -8.938rem;
}
.image-22-parent {
  width: 11.688rem;
  flex-direction: row;
}
.about-us,
.contact-us,
.home {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.home {
  color: var(--primary);
  min-width: 2.875rem;
}
.about-us,
.contact-us {
  min-width: 3.938rem;
}
.contact-us {
  min-width: 5.438rem;
  white-space: nowrap;
}
.navigation-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.937rem;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--text);
  font-family: var(--button);
}
.navigation-links-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.5rem;
}
.header {
  align-self: stretch;
  background-color: var(--secondary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 3.75rem 6.625rem 3.812rem;
  gap: 19.625rem;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--primary);
  font-family: var(--heading-4);
}
.sub-title {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
}
.sub-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4.437rem 0 4.312rem;
}
.frame-child {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
}
.frame-parent,
.hero-left-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 27.625rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.hero-left-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 1.312rem;
  box-sizing: border-box;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 2.875rem;
  line-height: 140%;
  font-weight: 600;
  font-family: var(--heading-4);
  color: var(--primary);
  margin-top: -0.063rem;
}
.hero-left {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-description {
  width: 52.5rem;
  position: relative;
  line-height: 1.813rem;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.hero-content,
.hero-description-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hero-description-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--heading-4);
}
.hero-content {
  width: 68.188rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.image-24-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 56.25rem;
  height: 34.125rem;
  object-fit: cover;
}
.create-schema {
  position: relative;
  font-size: var(--button-size);
  line-height: 120%;
  font-weight: 600;
  font-family: var(--button);
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 7.875rem;
}
.create-schema-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.arrow-right-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.button {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-sm) 1.687rem var(--padding-sm) 2.062rem;
  background-color: #a3a3a3;
  position: absolute;
  top: 4.75rem;
  left: 21rem;
  backdrop-filter: blur(1px);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  z-index: 1;
}
.image-24-parent {
  height: 19.875rem;
  width: 56.25rem;
  position: relative;
  max-width: 100%;
}
.hero-section-inner {
  width: 68.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.hero-section,
.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-section {
  align-self: stretch;
  background-color: var(--secondary);
  overflow: hidden;
  align-items: center;
  padding: 2.437rem var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 5.5rem;
  max-width: 100%;
  text-align: center;
  font-size: var(--sub-title-size);
  color: var(--text);
  font-family: var(--button);
}
.root {
  width: 100%;
  position: relative;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .hero-section {
    gap: 2.75rem;
  }
}
@media screen and (max-width: 1025px) {
  .header {
    flex-wrap: wrap;
    gap: 9.813rem;
    padding-left: var(--padding-34xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
  .heading {
    font-size: 2.313rem;
    line-height: 3.25rem;
  }
}
@media screen and (max-width: 750px) {
  .header {
    gap: 4.875rem;
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .hero-section {
    gap: 1.375rem;
  }
}
@media screen and (max-width: 450px) {
  .sub-title-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading {
    font-size: 1.75rem;
    line-height: 2.438rem;
  }
}
